name: 'Build extension and create release'

permissions:
    contents: write

on:
    workflow_dispatch:

jobs:
    compile:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
              with:
                  version: 9.15.5
            - uses: actions/setup-node@v6
              with:
                  node-version: '20.19.0'
                  cache: 'pnpm'
            - run: pnpm install --frozen-lockfile
            - name: get-version
              id: package-version
              uses: martinbeentjes/npm-get-version-action@v1.3.1
            - run: pnpm run build:extension
            - name: Create zip archive
              run: |
                  mkdir -p dist
                  cd build_scripts/extension
                  zip -r ../../dist/Better-Tab-v${{steps.package-version.outputs.current-version}}.zip .
            - name: Release
              uses: softprops/action-gh-release@v2
              with:
                  tag_name: 'v${{steps.package-version.outputs.current-version}}'
                  generate_release_notes: true
                  files: |
                      dist/*.zip

